#container-main {
	padding-top: 60px;
	padding-bottom: 40px;
}

p { }

html, body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

#wrapbackgroundimg {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
	background-image: url(/media/img/dining-retouched-small.jpg);
}



#wrapper-narrow {
	width: 700px;
}

.button-spacer {
	padding-top: 30px;
}

.footer {
	padding: 30px;
	background-color: #f5f5f5;
}

.hero-unit h1 {
	padding-bottom: 40px;
}

.hero-unit {
}

.hero-unit p {
}

.license {
}

.btn-xlarge {
}

.hero-engage {
}

.hero-engage > .btn-xlarge {
}

.box-link {
}

.footer {
}

textarea {
}

.helptext {
}

.navbar {
}

p.notice {
	color: grey;
	font-style: italic;
}

.res-detail {
	padding-top: 10px;
	padding-bottom: 10px;
}

.res-modify-btn {
	width: 400px;
	padding-top:20px;
	padding-bottom: 20px;
	margin: auto;
	text-align: center;
}

.res-status-btn {
	cursor: default;
}

.timeline-tags {
	font-style: italic;
	font-size: 120%;
}

.new-reservation {
	padding-top: 30px;
}

.btn-inline {
	display: inline;
}

div.ui-datepicker{
 font-size:10px;
}

.btn-red {
	color: red;
	border: 1px;
}

.btn-red:hover {
	text-decoration: none;
	color: red;
}

.form-help-text {
	font-style: italic;
	font-size: 90%;
}

.field-wrapper {
	width: 475px;
	margin-bottom: 30px;
	padding: 20px;
}

textarea {
	width: 475px;
	height: 120px;
}

.float-right {
	float:right;
}

img.profile-page-img {
	width: 300px;
	height: 200px;
}

.user-links {
	padding-top: 30px;
	padding-bottom: 30px;

}

.user-link {
	padding-right: 20px;
}

.icon-spacer {
	padding-right: 10px;
}

/*ul.error-list ~ .form-field-body {
	background-color: red;
}
*/
.survey-description {
	padding-bottom: 40px;
	padding-top: 20px;

}

.question-required {
	background: #E0FFD6;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

h3.collapsible:hover {
	cursor: hand;
	cursor: pointer; ;
}

.collapse-open span {
    display:block;
    float:left;
    padding:20px;
}

.accordion-open span, .collapse-open span {
    background:url(/media/img/collapse.png) center center no-repeat; }

.accordion-close span, .collapse-close span {
    display:block;
    float:left;
    background:url(/media/img/expand.png) center center no-repeat;
    padding:20px;
}

.submit-button {
	padding: 40px;
}

.submit-button > input {
	font-size: 130%;
	padding: 10px;
}

.asterix {
	color: red;
	font-size: 200%;
	vertical-align: middle
}

.label-inline {
	display: inline;
}

#intro {
	width: 700px;
	margin: auto;
}

label {
	display: inline;
	padding-right: 12px;
}

#id_comments, #id_conditions {
	height: 50px;
}

ol.survey-questions {
	margin-left: 0px;
}

.q-item {
	margin-left: 60px;
}

*===========================
    blog
============================ */
#blog {
    margin-top:50px;
}

.widget {
  margin-bottom: 60px;
  padding-left: 0;
}

.single_comments {
  margin-bottom: 20px;
}

.single_comments img {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

.single_comments p {
  margin-bottom: 0;
}

.widget .entry-meta span {
  display: inline-block;
  margin-right: 10px;
}

.widget h3 {
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.blog_category{
  list-style:none;
  margin:0;
  padding:0;
}

.blog_category li{
  float:none;
  margin-bottom:20px;
}

.blog_category li a {
  background:#f5f5f5;
  border-radius: 4px;
  color: #888;
  display: inline-block;
  padding: 5px 15px;
}

.blog_category li a:hover{
  background:#ED502E;
  color: #fff;
}

 .badge:before {
  border-color: transparent transparent transparent #ED502E;
  border-style: solid;
  border-width: 10px;
  bottom: -8px;
  content: "";
  height: 0;
  left: 5px;
  position: absolute;
  z-index: -99999;
}

.badge {
  background-color: #ED502E;
  border-radius: 5px;
  color: #fff;
  padding: 8px;
  position: relative;
  left: 60px;
  top: -18px;
  font-weight: normal;
}

.blog_archieve {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.blog_archieve li {
  padding: 10px 0;
  border-bottom: 1px solid #f5f5f5;
}

.blog_archieve li:first-child {
  padding-top: 0;
}

ul.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.gallery li {
  display: block;
  width: 60px;
  padding: 0;
  margin: 0 4px 4px 0;
  float: left;
}

ul.faq {
  list-style: none;
  margin: 0;
}

ul.faq li {
  margin-top: 30px;
}

ul.faq li:first-child {
  margin-top: 0;
}

ul.faq li span.number {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #34495e;
  color: #fff;
  font-size: 24px;
}

ul.faq li > div {
  margin-left: 70px;
}

ul.faq li > div h3 {
  margin-top: 0;
}


.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog-item {
  border-radius: 0;
  overflow: hidden;
  margin-bottom: 50px;
}

.blog .blog-item .img-blog {
  border-radius: 5px;
  margin-bottom: 45px;
}

.blog .blog-item .blog-content {
  padding-bottom: 25px;
}

.blog .blog-item .blog-content h2 {
  margin-top: 0;
  font-size: 30px;
}

.readmore{
  margin-top: 0;
}

.blog .blog-item .blog-content h4 {
  color: #858586;
  margin-bottom: 40px;
  /* font-weight: 300 */}

.blog .blog-item .blog-content p {
  font-size: 13px;
  color:#858586;
}

.blog .blog-item .entry-meta {
  border-radius: 5px;
  overflow: hidden;
}

.blog .blog-item .entry-meta > span {
  background: #f5f5f5;
  border-top: 1px solid #fff;
  display: block;
  font-size: 12px;
  overflow: hidden;
  padding: 5px;
  text-align: left;
}

#publish_date {
  background: #ED502E;
  border-bottom: 5px solid #4e4e4e;
  color: #fff;
  padding: 5px 0;
  text-align: center;
}

.blog .blog-item .entry-meta > span {
  color: #ccc;
}

.blog .blog-item .entry-meta > span a {
  font-size: 12px;
  margin-left: 3px;
  font-weight: 300;
  color: #888;
}

ul.pagination > li > a {
  border: 1px solid #F1F1F1;
  margin-right:5px;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 14px;
}

ul.pagination > li > a i{
  margin-left:5px;
  margin-right:5px;
}

ul.pagination > li.active > a,
ul.pagination > li:hover > a {
  background-color: #ED502E !important;
  border-color: #ED502E !important;
  color: #fff;
}

.search_box {
  background-image: url("../images/search_icon.png");
  background-position: 314px 15px;
  background-repeat: no-repeat;
  border-color: #DEDEDE;
  height: 48px;
  outline: medium none;
  box-shadow: none;
}

.form-control:focus {
  box-shadow:none;
  outline: 0 none;
}

ul.tag-cloud,
ul.sidebar-gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tag-cloud li{
    display: inline-block;
    margin-bottom: 3px;
}

.tag-cloud li a {
  background: #f5f5f5;
  color: #888;
  border: 0;
  border-radius: 4px;
  padding: 8px 15px;
}

.tag-cloud li a:hover{
  background:#ED502E;
  color: #fff;
}

.sidebar-gallery li{
  display: inline-block;
  margin: 0 10px 10px 0;
}

.sidebar-gallery li a {
  border-radius: 4px;
  display: inline-block;
}

/*===========================
    footer
============================ */
.footer {
    background:#292929;
    padding:50px;
}

.footer p {
    margin-top:-8px;
    font-size:13px;
    line-height:30px;
}

.footer h2 {
    color:#fff;
    margin-bottom:50px;
    font-size:20px;
}

.footer h6 {
    color:#fff;
}

ul.social-network {
    margin-top:30px;
    transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

ul.social-network li {
    display:inline;
    font-size: 14px;
    margin-right:10px;

}
ul.social-network li a {
    color:#d0d0d0;
    padding:5px 10px;
    background:#000;
    border-radius:50%;
}

.social-network li:hover .fa-twitter {
    color: #00abf0;
}

.social-network li:hover .fa-facebook {
  color: #39579a;
}
.social-network li:hover .fa-google-plus {
  color: #eb8984;
}
.social-network li:hover .fa-pinterest {
  color: #c9171e;

}
.social-network li:hover .fa-linkedin {
  color: #0077b5;

}
.footer h3 {
    color:#fff;
    margin-bottom:50px;
    font-size:16px;
}
.footer ul {
    text-decoration:none;
    list-style:none;
    margin-left:-40px;
    font-size:13px;
}
.footer ul li:hover {
    color:#ED502E;
    cursor:pointer;
}

.sub-footer a {
    color: #fff;
    font-size:13px;
}

.sub-footer a:hover {
  color: #ED502E;
}

.sub-footer {
    background:#090909;
    padding:30px;
}
.sub-footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sub-footer ul > li {
  display: inline-block;
  color:#fff;
  font-size:13px;
  margin-right:30px;
}

a.scrollup{
    color:#fff;
    height:40px;
    width:40px;
    font-size:12px;
    line-height:30px;
    text-align:center;
    text-decoration:none;
    position:fixed;
    bottom:20px;
    right:40px;
    opacity:0,5;
    border-radius:50%;
    z-index:999;
}
a.scrollup:hover{
    opacity:1;
    background-color:#ED502E;
    color:#fff;;
}
