{% extends 'home.html' %}

{% block body %}

<p>We are passionate about the coliving movement and embrace a collaborative approach to projects. Our hope is to be able to share the information we find with other houses, as well as use it ourselves to identify shared needs within the greater coliving community - we think this is part of the value proposition this process brings to everyone. We also have total respect for your privacy. All information you share can be as anonymous or open as you'd like. In particular:</p>

<ul>
<li>Your participation in this study is completely voluntary. You do not have to answer any questions that you do not feel comfortable answering, and you may stop the interview or observation at any point during a session without penalty.</li>
<li>There are no foreseeable risks to participation in this research.</li>
We would like permission to record audio of the interview session so that what you say may be transcribed and/or reviewed to ensure accuracy. </li>
<li>The original audio and text from the interview and any associated observations will be kept confidential to the census team and the interviewer. </li>
<li>Personally identifying information such as your personal and house names will be removed and replaced wit
</ul>


{% endblock %}